<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header(title,links,scripts)">
    <!-- Common styles and scripts -->
    <title th:replace="${title}">The awesome application</title>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"></meta>
  
  
  	<link th:href="@{/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  	<link th:href="@{/plugins/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet">
  	<link th:href="@{/plugins/bootstrap/css/bootstrap-table.min.css}" rel="stylesheet">
  	<link th:href="@{/plugins/bootstrap/css/bootstrapValidator.min.css}" rel="stylesheet">
  	<link th:href="@{/plugins/bootstrap/css/bootstrap-datetimepicker.min.css}" rel="stylesheet">
  	<link th:href="@{/plugins/bootstrap/css/bootstrap-select.min.css}" rel="stylesheet">
  	<link th:href="@{/plugins/fileinput/css/fileinput.min.css}" rel="stylesheet">
  	<link th:href="@{/plugins/confirm/jquery-confirm.css}" rel="stylesheet">
  	<link th:href="@{/plugins/bootstrap/css/bootstrap-editable.css}" rel="stylesheet">
  	<link th:href="@{/plugins/bootstrap-treeview/css/bootstrap-treeview.css}" rel="stylesheet">

  	<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
  
  	<script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
  	<script th:src="@{/plugins/bootstrap/js/bootstrap-table.min.js}"></script>
  	<script th:src="@{/plugins/bootstrap/js/bootstrap-table-zh-CN.min.js}"></script>
  	<script th:src="@{/plugins/bootstrap/js/bootstrapValidator.min.js}"></script>
  	<script th:src="@{/plugins/bootstrap/js/bootstrapValidator_zh_CN.min.js}"></script>
  	<script th:src="@{/plugins/bootstrap/js/bootbox.min.js}"></script>
  	<script th:src="@{/plugins/bootstrap/js/bootstrap-datetimepicker.min.js}"></script>
  	
  	<script th:src="@{/plugins/bootstrap/js/bootstrap-datetimepicker.zh-CN.js}"></script>
  	<script th:src="@{/plugins/bootstrap/js/bootstrap-tab.js}"></script>
  	<script th:src="@{/plugins/bootstrap/js/bootstrap-select.min.js}"></script>
  	<script th:src="@{/plugins/bootstrap/js/bootstrap-editable.js}"></script>
  	<script th:src="@{/plugins/bootstrap/js/bootstrap-table-editable.js}"></script>
  	<script th:src="@{/plugins/bootstrap-treeview/js/bootstrap-treeview.js}"></script>

  	<script th:src="@{/plugins/fileinput/js/fileinput.min.js}"></script>
  	
  	<script th:src="@{/plugins/jquery/ajaxfileupload.js}"></script>
  	<script th:src="@{/plugins/fileinput/js/locales/zh.js}"></script>
  	<script th:src="@{/plugins/confirm/jquery-confirm.js}"></script>
  	<script th:src="@{/js/common.js}"></script>
  	<script th:src="@{/js/initdata.js}"></script>

    <!--/* Per-page placeholder for additional links */-->
    <th:block th:replace="${links}" />
        <!--/* Per-page placeholder for additional js */-->
    <th:block th:replace="${scripts}" />
    
</head>



